.style {
  background-color: #0d1321;
  width: 15%;
}

.picture {
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 50%;
}

.profile-text {
  text-align: center;
  text-decoration: none;
  font-size: larger;
  color: var(--font-menu);
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.nav-item {
  text-decoration: none;
  color: var(--font-menu);
  font-weight: bold;
}
