.lateral-profile-style {
  background-color: var(--bg-menu);
  width: 15%;
  height: 100%;
  z-index: 1;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.navbar-img {
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 50%;
}

.profile-text {
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  color: var(--orange);
  font-weight: bold;
}

.menu-hamb{
  position: fixed;
  top: 25px;
  right: 30px;
  cursor: pointer;
  display: none;
  z-index: 3;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.navbar a:hover {
  color: var(--turquese2);
}

.nav-item {
  text-decoration: none;
  color: var(--orange);
  font-weight: bold;
  text-transform: none;
  margin: 5px 0;
}

.menu-icon{
  color: var(--font-light);
  background-color: var(--dark-red);
  border-radius: 8px;
  padding: 4px;
  font-size: 35px;
}

.social-media {
  padding-top: 8%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media a:hover {
  color: var(--orange);
}

@media (min-width: 360px) and (max-width: 719px) {
  .lateral-profile-style {
    width: 100%;
    height: 85px;
    position: fixed;
  }

  .social-media {
    display: flex;
    justify-content: space-evenly;
    width: 190px;
    position: absolute;
    margin-top: -10px;
    margin-left: 25px;
  }

  .profile-text {
    display: none;
  }

  .social-media a:hover {
    color: var(--turquese2);
  }

  .display {
    display: initial;
  }

  .profile {
    margin-top: 8px;
  }

  .navbar-img {
    width: 70px;
    height: 70px;
    margin-left: -300px;
  }

  .menu-hamb {
    display: initial;
  }
  .navbar {
    margin: -10px 0;
  }
  .nav-item {
    text-align: center;

  }
}