.hero-container {
  width: auto;
  margin-left: 15%;
  z-index: 2;
}

.items-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  padding-top: 2%;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  color: var(--burgundy);
}

.h2-style {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--burgundy);
  overflow: hidden;
}

.hero-img {
  margin: 20px 250px;
}

@media (min-width: 360px) and (max-width: 719px) {
  .hero-container {
    width: auto;
    height: 600px;
    margin: 150px 0;
  }

  .items-container {
    display: flex;
    align-items: center;
    margin: 80px 0;
  }

  .hero-title {
    font-size: 30px;
  }

  .h2-style {
    font-size: 35px;
    margin-top: 10px;
  }

  .hero-img {
    width: 400px;
    margin: 60px 0;
  }
}