.portfolio {
  position: relative;
  background-color: var(--bg-light);
  width: 85%;
  margin-left: 15%;
  padding-top: 1%;
}

.portfolio-title {
  display: grid;
  place-items: center;
  width: 50%;
  height: 12%;
  margin-left: 1%;
  background-color: var(--burgundy);
  color: var(--bg-light);
}

.portfolio-title h1 {
  font-size: 300%;
  font-weight: bold;
}

.projects-text {
  font-weight: bold;
  color: var(--burgundy);
  margin: 3%;
  text-align: center;
}

.portfolio-img {
  display: block;
  border: 2px solid var(--burgundy);
  width: 90%;
  scale: 0.97;
  opacity: .8;
}

.portfolio-img:hover {
  opacity: 1;
  scale: 1;
  transition: .5s;
  filter: contrast(110%);
}

.img-style {
  display: flex;
  justify-content: space-around;
}

.col-container h5 {
  width: 90%;
  margin-top: 3%;
  margin-left: 5%;
  text-align: justify;
  color: var(--burgundy);
  font-weight: bold;
}

@media (max-width: 280px) {
  .portfolio {
    position: relative;
    background-color: var(--bg-light);
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding-top: 10%;
  }

  .portfolio-title {
    font-size: 8px;
    height: auto;
    margin-bottom: 5px;
  }

  .portfolio-title h1 {
    margin: auto;
  }

  .row-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .col-container {
    width: 100%;
  }

  .col-container h5 {
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    text-align: justify;
    color: var(--burgundy);
    font-size: 18px;
    font-weight: bold;
  }
}