.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill-item {
  text-align: center;
  margin: 0 25px;
  font-weight: bold;
}

.skill-icon{
  font-size: 80px;
}

@media (max-width: 280px) {
  .skills-section {
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-light);
    border: 5px solid;
    border-image: linear-gradient(90deg,var(--dark-red) 0%, var(--orange) 60%, var(--turquese) 100%) 1;
  }

  .skill-icon {
    width: 30px;
    margin: -15px 0;
  }

  .skill-item {
    text-align: center;
    margin: 0 5px;
    font-weight: bold;
  }
}