.about-section {
  height: 100%;
  position: relative;
  margin-left: 15%;
  background-color: var(--bg-light);
}

.about-me {
  display: grid;
  place-items: center;
  width: 98%;
  height: 12%;
  background-color: var(--burgundy);
  margin-top: 2%;
  margin-left: 2%;
  color: var(--bg-light);
}

.about-me h1 {
  font-size: 300%;
  font-weight: bold;
}

.about-img {
  border: 1px solid var(--turquese);
  width: 98%;
  margin-left: 2%;
  margin-top: 1%;
}

.img-text {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--burgundy);
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.img-title-text {
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--burgundy);
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.about-text {
  display: flex;
  justify-content: center;
  margin: 12px auto 15px auto;
  width: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--burgundy);
  font-weight: bold;
  text-align: justify;
}

.skills {
  width: 92%;
  height: 68%;
  margin: 0 15px 0 auto;
  border: 5px solid;
  border-image: linear-gradient(90deg,var(--dark-red) 0%, var(--orange) 60%, var(--turquese) 100%) 1;
  overflow-y: hidden;
}

.skill-title {
  text-align: center;
  margin: 10px;
  color: var(--burgundy);
  font-weight: bold;
  text-decoration: underline;
}

.degree-icon {
  color: var(--turquese);
}

.text-degree {
  color: var(--bg-menu);
}

.span-degree {
  color: var(--burgundy);
}

.responsive-skill {
  display: none;
}

@media (max-width: 280px) {
  .about-section {
    width: 100%;
    height: 220px;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    display: none;
  }

  .col {
    height: 220px;
  }

  .responsive-skill {
    display: initial;
    position: relative;
    width: 100%;
    height: 90%;
    border: 3px solid black
  }

  .about-me {
    font-size: 8px;
    height: auto;
    margin-bottom: 5px;
  }

  .about-me h1 {
    margin: auto;
  }

  .about-text {
    font-size: 14.5px;
    margin: 8px auto 11px auto;
  }

  .text-degree {
    font-size: 6px;
    font-weight: bold;
    margin: 1px;
  }

  .degree-icon {
    margin-top: 1px;
  }

  .skill-title {
    margin: 0;
  }
}