.contact {
  position: relative;
  width: 85%;
  height: auto;
  margin-left: 15%;
  background-color: var(--bg-light);
}

.contact-title {
  display: grid;
  place-items: center;
  width: 50%;
  height: 12%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: var(--burgundy);
  color: var(--bg-light);
}

.contact-title h1 {
  font-size: 300%;
  font-weight: bold;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
}

.contact-container {
  width: 47%;
  height: 100%;
  margin-top: 2%;
  margin-left: 2%;
}

.contact-item {
  text-align: center;
  font-weight: bold;
}

.contact-icon {
  font-size: 50px;
  color: var(--turquese);
}

.contact-icon-call,
.contact-icon-wpp {
  font-size: 40px;
  margin-right: 10%;
  margin-bottom: 8%;
  color: var(--turquese);
}

.phone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--turquese);
}

.text-items-contact {
  font-size: 17px;
  color: var(--burgundy);
}

.map-style {
  width: 100%;
  height: 330px;
  margin-top: 2.7%;
  border: 2px solid var(--burgundy);
}

.form-container {
  width: 47%;
  height: 100%;
  margin-top: 3%;
  margin-left: 1%;
}

.form-text-style {
  width: 100%;
  text-align: center;
  margin-bottom: 6.6%;
  color: var(--burgundy);
}

.form-style {
  display: grid;
  place-items: center;
  width: 100%;
  height: 330px;
  border: 2px solid var(--burgundy);
  font-weight: bold;
  color: var(--burgundy);
}

.form-label-name {
  margin-top: 1.5%;
  margin-left: 2%;
}

.form-label {
  display: flex;
  align-items: flex-end;
  margin-left: 2%;
}

.form-control {
  border: 1px solid var(--burgundy);
  margin-right: 300px;
}

.form-control:focus {
  border: 1px solid var(--bg-menu);
  box-shadow: none;
}