* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --bg-light: #e7d8c9;
  --bg-menu: #0d1321;
  --orange: #c44536;
  --turquese: #012a4a;
  --burgundy: #370617;
  --turquese2: #147df5;
  --dark-red: #9a031e;
}

html {
  scroll-behavior: smooth;
}