.idioms-section {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.idioms-item {
  text-align: center;
  margin: 0 25px;
  font-weight: bold;
}

.idioms-icon {
  font-size: 40px;
  color: var(--turquese);
}

.text-idioms {
  color: var(--bg-menu);
}

.span-idioms {
  color: var(--burgundy);
}

@media (max-width: 280px) {
  .idioms-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }

  .idioms-item {
    width: 100%;
    margin: 0;
  }

  .idioms-icon {
    width: 20px;
    margin: -10px 2px;
  }

  .text-idioms {
    font-size: 6px;
    margin-bottom: 0;
  }
}